In [ ]:
# 새싹 출력 중 10699
from time import gmtime, time

tm = gmtime(time() + 9 * 3600) # GMT+9

print("%d-%02d-%02d" %(tm.tm_year, tm.tm_mon, tm.tm_mday))

In [ ]:
# 새싹 출력 중 7287
import requests
import bs4

userId = "ssao565"
res = requests.get(url="https://www.acmicpc.net/user/" + userId,
                   headers={
                      "user-agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"
                      })
soup = bs4.BeautifulSoup(res.text, "html.parser")

print(soup.find('div').find('span', {'id':'u-solved'}).text)
print(userId)

26
ssao565

In [ ]:
a,b,c=map(int,input().split())
print(a+b+c)

4 44 444
492

In [ ]:
a = int(input())
if a >= 90 :
  print("A")
elif a >= 80 :
  print("B")
elif a >= 70 :
  print("C")
elif a >= 60 :
  print("D")
else :
  print("F")

55
F

In [ ]:
x = int(input())
y = int(input())

if x > 0 and y > 0 : print("1")
elif x > 0 and y < 0 : print("4")
elif x < 0 and y > 0 : print("2")
else : print("3")

9
-13
4

In [ ]:
year = int(input())

if year % 4 != 0 : print("0")
elif year % 100 != 0 : print("1")
elif year % 400 == 0 : print("1")
else : print("0")

1999
0

In [ ]:
import math
m, n = map(int, input().split())
print(abs(m - n))

5 3
2

In [ ]:
m = int(input())
for i in range(m): print(i+1)

5
1
2
3
4
5

In [ ]:
m = int(input())
ind = 1
for i in range(m): ind *= i+1
print(ind)

0
1

In [ ]:
n = int(input())
for _ in range(n):
  a,b=map(int,input().split())
  print(a+b)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [ ]:
a,b = map(int, input().split())
while((a,b) != (0,0)):
  print(a+b)
  a,b = map(int, input().split())

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

In [ ]:
n = int(input())
for i in range(9):
    print(f'{n} * {i+1} = {n*(i+1)}')

9
9 * 1 = 90
9 * 2 = 90
9 * 3 = 90
9 * 4 = 90
9 * 5 = 90
9 * 6 = 90
9 * 7 = 90
9 * 8 = 90
9 * 9 = 90

In [ ]:
n = int(input())
for i in range(n):
    print("*"*(i+1))

5
*
**
***
****
*****

In [ ]:
import sys
n = int(input())
for _ in range(n):
  a,b=map(int, sys.stdin.readline().rstrip().split())
  print(a+b)

In [ ]:
a,b = map(int, input().split())
print((a+b)*(a-b))

3 4
-7

In [ ]:
sum = 0
dig = list(map(int, input().split()))
for i in range(5):
  sum += dig[i]**2
print(sum%10)

0 4 2 5 6
1

In [ ]:
n, x = map(int, input().split())
A = list(map(int, input().split()))
for i in range(n) :
  if A[i] < x : print(A[i])

10 5
1 10 4 9 2 3 8 5 7 6
1
4
2
3

In [ ]:
n= int(input())
A = list(map(int, input().split()))
x = int(input())
cnt = 0
for i in range(n) :
  if A[i] == x : cnt += 1
print(cnt)

11
1 4 1 2 4 2 4 2 3 4 4
5
0

In [ ]:
A = [0] * 30
for _ in range(28) : A[int(input()) - 1] = 1
for i in range(30) :
  if A[i] == 0 : print(i+1)

In [ ]:
m, n = map(int, input().split())
A = [input().split() for _ in range(m)]
B = [input().split() for _ in range(m)]
for i in range(m):
  for j in range(n):
    A[i][j] = int(A[i][j]) + int(B[i][j])
for row in A:
  Dummy = ""
  for val in row:
    Dummy += str(val)+" "
  print(Dummy)

In [ ]:
# pretty 2d matrix print
A = [[1,0], [0,1]]
for row in A:
  Dummy = ""
  for val in row:
    Dummy += str(val)+" "
  print(Dummy)

1 0
0 1

In [ ]:
print(ord(input()))

z
122

In [ ]:
s = input()
a = [ord(x) for x in s]
diff = ord('a') - ord('A')
for i in range(len(a)):
  if(a[i] >= ord('a') ) : a[i] = chr(a[i] - diff)
  else : a[i] = chr(a[i] + diff)
print(''.join(i for i in a))

WhataBeautiful
wHATAbEAUTIFUL

In [ ]:
grd = input()
sav = {"A+": 4.3, "A0": 4.0, "A-":3.7,
       "B+": 3.3, "B0": 3.0, "B-":2.7,
       "C+": 2.3, "C0": 2.0, "C-":1.7,
       "D+": 1.3, "D0": 1.0, "D-":0.7,
       "F": 0.0
       }
print(sav[grd])

F
0.0

In [ ]:
n = int(input())
ls = [int(i) for i in input()]
print(sum(ls))

25
7000000000000000000000000
7

In [ ]:
n = int(input())
ls = [int(i) for i in input().split()]
ls.sort()
print(ls[0], ls[-1])

5
20 10 35 30 7
7 35

In [ ]:
tar = input()
piv = ord('a')
idxls = [-1] * 26
for i in range(len(tar)):
  if idxls[ord(tar[i]) - piv] == -1 : idxls[ord(tar[i]) - piv] = i

for val in idxls:
  print(val, end=" ")

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [ ]:
# 10250
idx = int(input())
for _ in range(idx):
  h, _, n = map(int, input().split())
  if(n%h == 0): i = h
  else : i = n%h
  print("%d%02d" % (i, (n-1)/h+1)) # why n - 1 ?

In [ ]:
# 8958
idx = int(input())
for _ in range(idx):
  tar = input()
  grd = 0
  cnt = 0
  for i in range(len(tar)):
    if tar[i] == 'O' : cnt += 1
    else : cnt = 0
    grd += cnt
  print(grd)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

In [ ]:
# 3052
hasit = set()
for _ in range(10):
  a = int(input())%42
  if a not in hasit : hasit.add(a)
print(len(hasit))

39
40
41
42
43
44
82
83
84
5
7

In [ ]:
ls = [int(i) for i in input().split()]

if ls == [1,2,3,4,5,6,7,8] : print("ascending")
elif ls == [8,7,6,5,4,3,2,1] : print("descending")
else : print("mixed")

8 1 7 2 6 3 5 4
mixed

In [ ]:
T = int(input())
for _ in range(T):
  n, s = input().split()
  n = int(n)
  dummy = ""
  for chr in s: dummy += chr * n
  print(dummy)

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

In [ ]:
A = int(input())
B = int(input())
C = int(input())
S = str(A*B*C)
for i in range(10):
  cnt = 0
  for val in S:
    if int(val) == i: cnt += 1
  print(cnt)

In [ ]:
max = 0
maxind = 0
for i in range(9):
  tmp = int(input())
  if max < tmp :  # distinct 9 naturals
    max = tmp
    maxind = i+1
print(max)
print(maxind)

3
29
38
12
57
74
40
85
61

In [ ]:
n = int(input())
for i in range(n):
  stars = '*'*(i + 1)
  empty = " "*(n - i - 1)
  print(empty + stars)

5
    *
   **
  ***
 ****
*****

In [ ]:
#1157
S = input().upper()
letters = set(S)
letNum = {key : 0 for key in letters}

for chr in letters:
  for i in range(len(S)):
    if S[i] == chr : letNum[chr] += 1

max = -1
for key in letNum:
  val = letNum[key]
  if val > max :
    maxChr = key
    max = val
  elif val == max:
    maxChr = "?"
print(maxChr)

baaa
A

In [ ]:
N = int(input())
tar = set(input().split())
M = int(input())
for val in input().split():
  if val in tar: print(1)
  else : print(0)

5
4 1 5 2 3
5
1 3 7 9 5
1
1
0
0
1

In [ ]:
#2751
import sys
N = int(input())
S = [int(sys.stdin.readline().rstrip()) for _ in range(N)]
S.sort()
for val in S: print(val)

In [ ]:
import sys
if __name__ == "__main__":
  ls = []
  N = int(input())
  for i in range(N):
    isEmpty = int(len(ls) == 0)
    # inst = sys.stdin.readline().rstrip().split()
    inst = input().split()
    if inst[0] == "push":
      ls += [int(inst[1])]
    elif inst[0] == "pop":
      if isEmpty == 1: print(-1)
      else :
        print(ls[-1])
        del ls[-1]
    elif inst[0] == "size":
      print(len(ls))
    elif inst[0] == "empty":
      print(isEmpty)
    else : # inst[0] == "top"
      if isEmpty == 1: print(-1)
      else : print(ls[-1])

7
pop
-1
top
-1
push 123
top
123
pop
123
top
-1
pop
-1

In [ ]:
from collections import defaultdict
import sys
N = int(input())
ls = sys.stdin.readline().rstrip().split()
lsNum = defaultdict(int)

for val in ls: lsNum[val] += 1

M = int(input())
tmp = sys.stdin.readline().rstrip().split()
for val in tmp: print(lsNum[val], end = " ")

# https://dongdongfather.tistory.com/69

10
6 3 2 10 10 10 -10 -10 7 3
8
10 9 -5 2 3 4 5 -10
3 0 0 1 2 0 0 2

In [ ]:
# 10773
import sys

K = int(input())
ls = []
for _ in range(K):
  tmp = int(input())
  if tmp == 0 : del ls[-1]
  else : ls.append(tmp)
num = sum(ls)
print(num)

In [ ]:
#11651
import sys

if __name__ == "__main__":
  N = int(input())
  Yls = [[] for _ in range(200001)]

  for _ in range(N):
    tmp = tuple(map(int, input().split()))
    Yls[tmp[1]+100000].append(tmp)
  for item in Yls: item.sort(key=lambda x: x[0])
  for item in Yls:
    for tup in item: print("%d %d" % tup)

In [ ]:
if __name__ == "__main__":
  N, K = map(int, input().split())
  p = 1
  for i in range(K): p *= N - i
  r = 1
  for i in range(K): r *= i + 1
  print(p//r)

In [ ]:
# 1966
import sys

if __name__ == "__main__":
  for _ in range(int(input())):
    N, M = map(int, input().split())
    queue = [int(i) for i in input().split()]
    tar = M
    cnt = 0
    while True:
      Largest = max(queue)
      if queue[0] == Largest:
        del queue[0]
        cnt += 1
        if tar != 0 : tar -= 1
        else :
          print(cnt)
          break
      else :
        queue.append(queue[0])
        del queue[0]
        if tar != 0: tar -= 1
        else : tar = len(queue) - 1

In [ ]:
n, m = map(int, input().split())

# gcd
ng, mg = n, m
while mg != 0: ng, mg = mg, ng % mg
print(ng)

# lcm
nl, ml = max(m, n), min(m, n)
print(nl * (ml // ng))

10293 1093
1
11250249

In [ ]:
if __name__ == "__main__":
  while True:
    tmp = input()
    rev = tmp[::-1]
    if tmp == "0": break
    if rev == tmp: print("yes")
    else : print("no")

121
yes
12321
yes
14561
no
0

In [ ]:
#2775
for _ in range(int(input())):
  k = int(input())
  n = int(input())
  ls = [i+1 for i in range(n)]
  for _ in range(k):
    tmp = [sum(ls[:i+1]) for i in range(n)]
    ls = tmp
  print(ls[-1])

2
1
3
6
2
3
10

In [ ]:
#11866
N, K = map(int, input().split())
ls = [i+1 for i in range(N)]
tmp = []
pivot = 0
tar = 0

while sum(ls) != 0:
  cnt = 0
  while True:
    dummy = ls[tar]
    if dummy == 0 : tar = (tar + 1) % N
    else :
      cnt += 1
      if cnt == K:
        pivot = tar
        tmp.append(ls[tar])
        ls[tar] = 0
        break
      else : tar = (tar + 1) % N

print("<", end="")
print(*tmp, sep=", ", end="")
print(">", end="")

1000 999
<999, 998, 1000, 2, 5, 9, 14, 20, 27, 35, 44, 54, 65, 77, 90, 104, 119, 135, 152, 170, 189, 209, 230, 252, 275, 299, 324, 350, 377, 405, 434, 464, 495, 527, 560, 594, 629, 665, 702, 740, 779, 819, 860, 902, 945, 989, 45, 95, 145, 196, 247, 300, 353, 407, 461, 517, 574, 632, 690, 750, 810, 872, 934, 1, 75, 146, 216, 286, 358, 429, 502, 576, 650, 725, 801, 879, 957, 47, 132, 219, 305, 390, 477, 564, 653, 742, 832, 922, 22, 123, 223, 321, 420, 520, 619, 720, 823, 925, 38, 153, 262, 372, 483, 595, 706, 818, 932, 59, 181, 303, 424, 545, 668, 789, 912, 49, 182, 314, 445, 577, 708, 841, 973, 122, 265, 404, 546, 686, 829, 970, 129, 280, 431, 581, 730, 880, 39, 202, 361, 518, 676, 836, 993, 172, 339, 505, 671, 839, 10, 192, 367, 540, 715, 889, 78, 260, 444, 624, 804, 986, 190, 381, 569, 759, 947, 155, 351, 549, 746, 940, 156, 360, 563, 767, 968, 194, 403, 614, 824, 43, 267, 484, 699, 915, 149, 378, 602, 822, 60, 292, 523, 754, 981, 234, 470, 705, 941, 199, 442, 682, 923, 185, 438, 684, 931, 204, 458, 713, 965, 242, 503, 765, 31, 308, 575, 843, 116, 396, 666, 939, 235, 512, 790, 82, 369, 651, 935, 241, 532, 817, 120, 422, 719, 18, 329, 630, 926, 251, 557, 863, 183, 498, 808, 134, 457, 774, 101, 430, 753, 86, 417, 747, 85, 423, 758, 100, 448, 783, 133, 482, 827, 180, 536, 882, 250, 605, 955, 328, 685, 55, 425, 788, 166, 541, 903, 294, 663, 50, 437, 813, 212, 597, 976, 379, 769, 169, 570, 959, 370, 771, 184, 591, 990, 411, 825, 248, 656, 80, 506, 914, 352, 778, 220, 642, 79, 519, 948, 395, 840, 288, 727, 179, 631, 87, 543, 988, 463, 907, 385, 850, 320, 785, 269, 732, 221, 689, 174, 654, 142, 628, 118, 613, 108, 607, 105, 608, 110, 617, 126, 637, 151, 662, 191, 700, 233, 745, 283, 802, 338, 867, 408, 933, 487, 21, 572, 117, 672, 236, 780, 341, 891, 466, 17, 590, 164, 734, 316, 883, 472, 42, 635, 231, 811, 406, 987, 596, 207, 798, 409, 6, 622, 249, 854, 475, 89, 714, 344, 961, 600, 246, 870, 513, 158, 797, 452, 94, 749, 410, 62, 724, 391, 53, 726, 399, 70, 755, 441, 115, 806, 497, 198, 878, 580, 290, 974, 691, 400, 112, 835, 550, 279, 982, 718, 459, 197, 911, 659, 402, 154, 894, 647, 412, 167, 916, 687, 465, 239, 991, 776, 555, 340, 127, 905, 704, 508, 310, 99, 900, 717, 533, 347, 171, 977, 815, 640, 480, 315, 148, 979, 844, 680, 538, 389, 266, 111, 969, 855, 728, 601, 489, 365, 268, 144, 32, 928, 846, 744, 649, 566, 490, 401, 331, 270, 201, 121, 56, 995, 942, 892, 856, 809, 772, 737, 701, 675, 652, 634, 618, 609, 599, 593, 598, 606, 616, 633, 648, 674, 698, 736, 770, 807, 853, 890, 938, 994, 52, 114, 200, 264, 330, 398, 488, 565, 673, 782, 877, 978, 92, 224, 327, 450, 562, 716, 862, 997, 150, 301, 449, 592, 787, 950, 131, 309, 485, 678, 876, 71, 285, 479, 697, 918, 157, 366, 586, 852, 84, 336, 573, 859, 113, 376, 655, 937, 237, 507, 816, 106, 415, 733, 37, 359, 693, 25, 357, 710, 58, 414, 781, 147, 504, 893, 278, 646, 51, 453, 868, 281, 688, 124, 530, 971, 419, 873, 319, 791, 256, 722, 211, 669, 178, 657, 177, 667, 210, 721, 255, 786, 318, 871, 418, 967, 529, 109, 695, 293, 886, 473, 74, 696, 323, 949, 558, 232, 881, 516, 206, 865, 525, 229, 913, 587, 322, 26, 761, 471, 226, 956, 711, 460, 245, 8, 796, 554, 371, 187, 985, 826, 623, 469, 326, 176, 30, 906, 793, 645, 544, 455, 373, 298, 238, 162, 96, 57, 16, 984, 963, 954, 953, 962, 983, 15, 48, 93, 161, 228, 297, 368, 454, 542, 644, 792, 904, 63, 225, 374, 526, 723, 897, 103, 333, 528, 766, 11, 282, 515, 803, 81, 384, 677, 3, 343, 658, 23, 387, 760, 159, 531, 927, 364, 800, 261, 683, 175, 620, 139, 612, 165, 664, 253, 775, 348, 908, 500, 125, 741, 375, 4, 639, 345, 19, 731, 436, 173, 887, 625, 428, 218, 975, 821, 604, 476, 335, 217, 73, 960, 888, 837, 777, 748, 712, 707, 735, 757, 812, 857, 920, 29, 140, 277, 397, 537, 739, 921, 163, 383, 583, 885, 208, 478, 820, 160, 494, 875, 302, 670, 141, 561, 69, 548, 88, 585, 222, 768, 380, 980, 589, 312, 972, 679, 435, 215, 946, 764, 553, 439, 313, 243, 128, 64, 33, 24, 40, 83, 193, 284, 386, 501, 643, 869, 130, 388, 615, 936, 325, 636, 67, 492, 924, 446, 929, 496, 76, 661, 346, 992, 703, 451, 263, 13, 849, 751, 603, 556, 539, 552, 588, 743, 848, 12, 259, 447, 756, 66, 421, 833, 289, 762, 295, 845, 443, 136, 830, 522, 354, 227, 72, 966, 952, 28, 137, 274, 427, 611, 909, 307, 638, 186, 582, 257, 834, 493, 287, 41, 895, 838, 828, 864, 958, 240, 433, 738, 195, 559, 188, 729, 432, 254, 7, 901, 899, 996, 244, 426, 709, 214, 621, 332, 930, 763, 578, 568, 681, 884, 273, 535, 138, 694, 468, 355, 337, 394, 551, 919, 456, 61, 799, 626, 660, 866, 276, 627, 356, 168, 102, 304, 511, 46, 752, 524, 579, 898, 393, 97, 944, 143, 474, 91, 874, 34, 413, 36, 910, 272, 610, 499, 584, 271, 951, 306, 795, 784, 213, 861, 296, 847, 107, 773, 943, 692, 258, 203, 547, 896, 858, 534, 342, 509, 814, 98, 362, 486, 917, 514, 510, 68, 851, 481, 964, 392, 831, 794, 416, 805, 491, 291, 467, 842, 567, 205, 521, 440, 382, 349, 311, 363, 317, 571, 462, 641, 334>

In [ ]:
# 10866 : Deque front(0) and back(-1)
import sys

Deque = []
for _ in range(int(input())):
  inst = sys.stdin.readline().rstrip().split(" ")
  if inst[0] == "push_front": Deque.insert(0, int(inst[1]))
  elif inst[0] == "push_back": Deque.append(int(inst[1]))
  elif inst[0] == "pop_front":
    try:
      print(Deque[0])
      del Deque[0]
    except: print(-1)
  elif inst[0] == "pop_back":
    try:
      print(Deque[-1])
      del Deque[-1]
    except: print(-1)
  elif inst[0] == "size": print(len(Deque))
  elif inst[0] == "empty": print(int(len(Deque) == 0))
  elif inst[0] == "front":
    try: print(Deque[0])
    except: print(-1)
  else : # inst[0] == "back"
    try: print(Deque[-1])
    except:  print(-1)

In [ ]:
#7568

N = int(input())
ls = [tuple(int(i) for i in input().split()) for _ in range(N)]
for dum in ls:
  rank = 1
  for i in ls:
    if i[0] > dum[0] and i[1] > dum[1]: rank += 1
  print(rank, end=" ")

5
55 185
58 183
88 186
60 175
46 155
2 2 1 2 5

In [ ]:
#1436
N = int(input())

i = 0
tmp = 0
while i != N:
  while True:
    tmp += 1
    if str(tmp).find("666") >= 0: break
  i += 1
print(tmp)

10000
2666799

In [ ]:
N = int(input())
deque = [i+1 for i in range(N)]
counter = 0
while N != 1:
  counter += 1
  if counter != len(deque) - 1: deque.append(deque[counter])
  else : break
  counter += 1
print(deque[counter])

1
1

In [ ]:
while True:
  tar = [int(side) for side in input().split()]
  if tar == [0,0,0]: break
  tar.sort()
  if tar[2] > tar[1] + tar[0]: print("wrong")
  elif (tar[2])**2 == (tar[1])**2 + (tar[0])**2: print("right")
  else: print("wrong")

6 8 10
right
25 52 60
wrong
5 12 13
right
0 0 0

In [ ]:
N = int(input())
ls = [int(i) for i in input().split()]
print((sum(ls) / N) * (100 / max(ls)))

4
1 100 100 100
75.25

In [ ]:
#1018
import sys
Wls = ["WBWBWBWB", "BWBWBWBW","WBWBWBWB", "BWBWBWBW","WBWBWBWB", "BWBWBWBW","WBWBWBWB", "BWBWBWBW"]
Bls = ["BWBWBWBW","WBWBWBWB", "BWBWBWBW","WBWBWBWB", "BWBWBWBW","WBWBWBWB", "BWBWBWBW", "WBWBWBWB"]

def diff(a, b):
  res = 0
  for i in range(8):
    for j in range(8):
      if a[i][j] != b[i][j]: res += 1
  return res

if __name__ == "__main__":
  N, M = map(int, input().split())
  board = [sys.stdin.readline().rstrip() for _ in range(N)]
  min_diff = 64
  for i in range(N-7):
    for j in range(M-7):
      tar = [item[j:j+8] for item in board[i:i+8]]
      W_diff = diff(tar,Wls)
      B_diff = diff(tar,Bls)
      min_diff = min(min_diff, W_diff, B_diff)
  print(min_diff)

10 13
BBBBBBBBWBWBW
BBBBBBBBBWBWB
BBBBBBBBWBWBW
BBBBBBBBBWBWB
BBBBBBBBWBWBW
BBBBBBBBBWBWB
BBBBBBBBWBWBW
BBBBBBBBBWBWB
WWWWWWWWWWBWB
WWWWWWWWWWBWB
12

In [ ]:
#10845
import sys

queue = []
if __name__=="__main__":
  N = int(input())
  for _ in range(N):
    inst = sys.stdin.readline().rstrip().split()
    if inst[0] == "push": queue.append(int(inst[1]))
    elif inst[0] == "pop":
      try:
        print(queue[0])
        del queue[0]
      except:
        print(-1)
    elif inst[0] == "size": print(len(queue))
    elif inst[0] == "empty": print(int(len(queue) == 0))
    elif inst[0] == "front":
      try:
        print(queue[0])
      except:
        print(-1)
    else :
      try:
        print(queue[-1])
      except:
        print(-1)

In [ ]:
#2798
import sys

N, M = map(int, input().split())
cards = [int(num) for num in sys.stdin.readline().rstrip().split()]
cards.sort()
max_val = 0
for i in range(N-2):
  for j in range(i+1, N-1):
    for k in range(j+1, N):
      sum = cards[i] + cards[j] + cards[k]
      if sum <= M:  max_val = max(sum, max_val)
print(max_val)

5 21
5 6 7 8 9
21

In [ ]:
#1978
N = int(input())
tmp = 1
for i in range(N): tmp *= i + 1
rev = str(tmp)[::-1]
i = 0
while rev[i] == "0": i += 1
print(i)

500
124

In [ ]:
from math import sqrt

N = int(input())
ls = [int(i) for i in input().split()]
res = 0
for num in ls:
  if num == 1: continue
  isPrime = 1
  for i in range(1, int(sqrt(num))):
    if num % (i+1) == 0:
      isPrime = 0
      break
  if isPrime == 1: res += 1
print(res)

4
1 3 5 7
3

In [ ]:
#9012
import sys

N = int(input())
for _ in range(N):
  tar = sys.stdin.readline().rstrip()
  flag = 0
  ls = []
  for par in tar:
    if par == "(": ls.append(0)
    else:
      try: del ls[-1]
      except:
        flag = 1
        break
  if ls == [] and flag == 0: print("YES")
  else: print("NO")

3
((
NO
))
NO
())(()
NO

In [ ]:
N = int(input())
flag = 0
for i in range(1,N):
  ls = [int(num) for num in str(i)]
  if N == (i + sum(ls)):
    print(i)
    flag = 1
    break
if flag == 0: print(0)

In [ ]:
N = int(input())

tmp = N - 1
gen = 0
i = 1
while tmp > 0:
  gen += 6
  tmp -= gen
  i += 1
print(i)

45
5

In [ ]:
#10814 뭔가 ls[0]이 안 쓰이고 100000-1살 까지 될 건데 왜 잘 돌아가지
N = int(input())
ls = [[] for _ in range(100000)]

for _ in range(N):
  age, name = input().split()
  ls[int(age)].append(name)
for i in range(100000):
  if ls[i] == []: continue
  else:
    for item in ls[i]: print("%d %s" % (i, item), sep="\n")

3
21 Junkyu
21 Dohyun
20 Sunyoung
20 Sunyoung
21 Junkyu
21 Dohyun

In [ ]:
#1874
N = int(input())
ls = [[] for _ in range(51)]

for _ in range(N):
  src = input()
  ls[len(src)].append(src)
for i in range(1, 51):
  ls[i] = list(set(ls[i]))
  ls[i].sort()
for tmp in ls:
  if tmp != []: print(*tmp, sep="\n")

In [ ]:
#1874 stack sequence : Top : stack[-1] Bottom : stack[0]
# 좀 조잡한데 꼴보기도 싫어서 수정안함
n = int(input())
ls = [i+1 for i in range(n)]
ptr = 0
flag = 1

stack = []
record = []
for _ in range(n):
  tar = int(input())
  if tar >= ptr + 1:
    while tar != ptr:
      stack.append(ls[ptr])
      record.append("+")
      ptr += 1
    stack.pop()
    record.append("-")
  elif stack[-1] == tar:
    stack.pop()
    record.append("-")
  else:
    flag = 0
    break

if flag == 1: print(*record, sep="\n")
else: print("NO")

In [ ]:
#4949
while True:
  tar = input()
  par = []
  if tar == ".": break
  flag = 0
  for chr in tar:
    if chr == "[": par.append(2)
    elif chr == "(": par.append(1)
    elif chr == "]":
      try:
        if par[-1] == 2: par.pop()
        else:
          flag = 1
          break
      except:
        flag = 1
        break
    elif chr == ")":
      try:
        if par[-1] == 1: par.pop()
        else:
          flag = 1
          break
      except:
        flag = 1
        break
    else: continue
  if flag == 0 and par == []: print("yes")
  else: print("no")

In [ ]:
#2869
from math import ceil

if __name__ == "__main__":
  A, B, V = (int(i) for i in input().split())
  step = A - B
  print(ceil((V - A) / step) + 1)

100 99 1000000000
999999901

In [ ]:
#15829
if __name__=="__main__":
  L = int(input())
  tar = input()
  M = 1234567891
  r = 31
  sum = 0
  for i in range(L):
    sum += (ord(tar[i])-96)*r**i
    sum %= M
  print(sum)

1
i
9

In [ ]:
#18110
from math import ceil, floor
def custom_round(n):
  a = n - floor(n)
  if a >= 0.5: return ceil(n)
  else: return floor(n)

if __name__=="__main__":
  n = int(input())
  opinion = sorted([int(input()) for _ in range(n)])
  if n == 0: print(0)
  else:
    naga = custom_round(n*0.15)
    opinion = opinion[naga:n - naga]
    print(custom_round(sum(opinion) / len(opinion)))

In [ ]:
from math import sqrt

def PrimeCal(n):
  if n == 1: return 0
  else:
    flag = 1
    for i in range(1, int(sqrt(n))):
      if n % (i+1) == 0:
        flag = 0
        break
    return flag

if __name__=="__main__":
  ls = []
  M, N = (int(i) for i in input().split())
  for num in range(M, N+1):
    if PrimeCal(num) == 1: ls.append(num)
  print(*ls, sep="\n")

In [ ]:
from math import ceil, floor

def custom_round(n):
  a = n - floor(n)
  if a >= 0.5: return ceil(n)
  else: return floor(n)

if __name__=="__main__":
  N = int(input())
  ls = sorted([int(input()) for _ in range(N)])
  val = [0 for _ in range(8001)]
  for item in ls: val[item+4000] += 1
  cnt = 0
  Ma = max(val)
  for ind in range(8001):
    if val[ind] == Ma :
      cnt += 1
      if cnt == 1 or cnt == 2: tmp = ind - 4000

  print(custom_round(sum(ls)/len(ls)))
  if N % 2 == 0: print((ls[N//2-1]+ls[N//2])/2)
  else: print(ls[N//2])
  print(tmp)
  print(max(ls) - min(ls))

3
0
0
-1
0
0
0
1

In [ ]:
# 마인크래프트
from collections import defaultdict

if __name__=="__main__":
  N, M, B = (int(i) for i in input().split())
  height = [[int(i) for i in input().split()] for _ in range(N)]
  height_cnt = defaultdict(int)
  for ls in height:
    for item in ls:
      height_cnt[item] += 1
  min_ls = []
  for key in height_cnt:
    need_B = 0
    time = 0
    for other_key in height_cnt:
      diff = key - other_key
      if diff > 0:
        need_B += diff * height_cnt[other_key]
        time += diff * height_cnt[other_key]
      elif diff == 0:
        continue
      else:
        time += -2 * diff * height_cnt[other_key]
    if need_B > B: continue
    else: min_ls.append((time, key))
  min_ls.sort(key=lambda x: x[0])
  max_value = 0
  for tup in min_ls:
    if tup[0] == min_ls[0][0]: max_value = max(tup[1], max_value)
  print("%d %d" % (min_ls[0][0], max_value))

2 2 68
120 90
250 170
390 120